.unit_converter_container{
    -fx-background-color: #ABDCFF;
}

.unit_converter_container Text{
    -fx-font-family: "Poppins";
    -fx-font-size: 30px;
    -fx-font-weight: 600;
}

.back_button{
    -fx-background-color: transparent;
    -fx-padding: 0;
}

.back_button:hover{
    -fx-cursor: hand;
}

.unit_converter_container ChoiceBox{
    -fx-font-family: "Poppins";
    -fx-border-radius: 15px;
    -fx-background-radius: 5px;
    -fx-pref-width: 150px;
    -fx-font-size: 18px;
}