.emergency_contacts_container{
    -fx-background-color: #ABDCFF;
}

.emergency_contacts_container Text{
    -fx-font-family: "Poppins";
    -fx-font-size: 30px;
    -fx-font-weight: 600;
}

.back_button{
    -fx-background-color: transparent;
    -fx-padding: 0;
}

.back_button:hover{
    -fx-cursor: hand;
}

.emergency_contacts_container VBox{
    -fx-pref-width: 236;
    -fx-padding: 0 0 0 20;
    -fx-alignment: center-left;
}

.emergency_contacts_container .heading_vbox{
    -fx-padding: 0 0 0 28;
}

.heading_vbox Label{
    -fx-font-weight: 700;
}

.emergency_contacts_container .headings{
    -fx-background-color: #70CBF5;
}

.emergency_contacts_container .content_first{
    -fx-background-color: #BFF6FF;
}

.emergency_contacts_container .content_second{
    -fx-background-color: #B9CEEF;
}