.background-pane {
    -fx-background-image: url("../images/beach.jpg");
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}
TabPane {
    -fx-background-color: transparent;
}
.section_pane {
    -fx-background-color: rgba(33, 150, 254, 0.51);
}
.navbar_heading {
    -fx-font-size: 26;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-text-alignment: center;

}
.journey_start {
    -fx-font-size: 22;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-text-alignment: center;
}
.main_description {
    -fx-wrap-text: true;
    -fx-font-size: 17;
    -fx-text-fill: white;
    -fx-text-alignment: center;
}

.action_next_button {
    -fx-background-color: #2101ff;
    -fx-background-radius: 5;
    -fx-padding: 10 20;
    -fx-text-fill: #ffffff;
}

.action_prev_button {
    -fx-background-color: #2101ff;
    -fx-background-radius: 5;
    -fx-padding: 10 20;
    -fx-text-fill: #ffffff;
}

.action_generate_button {
    -fx-background-color: #2101ff;
    -fx-background-radius: 5;
    -fx-padding: 10 20;
    -fx-text-fill: #ffffff;
}
.tab {
    -fx-padding:10 20;
    -fx-background-color: #98c9ec;
    -fx-font-size:16;
}
.tabs {
    -fx-background-color: transparent;
    -fx-max-width: 400px;
}