.background-pane {
    -fx-background-color: #ffffff !important;
}

.trip_planner_navbar {
    -fx-background-color: #43cfef !important;
}

.navbar_heading {
    -fx-font-size: 32;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.section_header {
    -fx-font-size: 24;
    -fx-text-fill: #3a7df8;
}
.tab {
    -fx-text-fill: #3a7df8;
    -fx-font-size: 18;
    -fx-border-style: none;
    -fx-padding-bottom: 10;
}

.action_button {
    -fx-background-color: #3a7df8;
    -fx-padding: 10;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}
.action_button:hover {
    -fx-background-color: #222222;
}
.footer_container {
    -fx-background-color: #43cfef !important;
}