.background-pane {
    -fx-background-image: url("../images/beach.jpg");
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}
TabPane {
    -fx-background-color: transparent;
}
.section_pane {
    -fx-background-color: rgba(33, 150, 254, 0.51);
}
.navbar_heading {
    -fx-font-size: 48;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-text-alignment: center;

}